# Keep this document in sync with MAINTAINERS.md.

* @mdragon # project lead

/analytics/               @acouch @coilysiren @widal001
/documentation/analytics/ @acouch @coilysiren @widal001

/api/               @chouinar @mdragon
/documentation/api/ @chouinar @mdragon

/frontend/               @acouch @andycochran @btabaska @doug-s-nava
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava

/infra/               @acouch @coilysiren @mdragon
/documentation/infra/ @acouch @coilysiren @mdragon
/.github/             @acouch @coilysiren @mdragon
/bin/                 @acouch @coilysiren @mdragon

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @mdragon @widal001 @capriiis # everyone
