# Keep this document in sync with MAINTAINERS.md.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @capriiis @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/               @acouch @coilysiren @mdragon
/documentation/infra/ @acouch @coilysiren @mdragon
/.github/             @acouch @coilysiren @mdragon
/bin/                 @acouch @coilysiren @mdragon
