/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

@use "uswds-core" with (
  // Disable scary but mostly irrelevant warnings:
  $theme-show-notifications: false,

  // Specify USWDS font and image paths.
  // Same paths are successfully used for both Next.js and Storybook.
  $theme-font-path: add-base-path("/uswds/fonts"),
  $theme-image-path: add-base-path("/uswds/img"),
  // Ensure utility classes always override other styles
  $utilities-use-important: true,

  // Layout & grid settings
  $theme-utility-breakpoints:
    (
      "card": false,
      "card-lg": false,
      "mobile": false,
      "mobile-lg": true,
      "tablet": true,
      "tablet-lg": true,
      "desktop": true,
      "desktop-lg": true,
      "widescreen": false
    ),
  $theme-banner-max-width: "desktop-lg",
  $theme-header-max-width: "desktop-lg",
  $theme-grid-container-max-width: "desktop-lg",
  $theme-footer-max-width: "desktop-lg",
  $theme-identifier-max-width: "desktop-lg",
  $theme-column-gap-desktop: 6,
  $theme-column-gap-md: 4,
  $theme-column-gap-lg: 6,

  // Typography settings
  $theme-global-link-styles: true,
  $theme-body-font-size: "md",
  $theme-type-scale-3xs: 2,
  $theme-type-scale-2xs: 3,
  $theme-type-scale-xs: 4,
  $theme-type-scale-sm: 5,
  $theme-type-scale-md: 6,
  $theme-type-scale-lg: 9,
  $theme-type-scale-xl: 12,
  $theme-type-scale-2xl: 15,
  $theme-type-scale-3xl: 17,

  // Color settings
  $background-color-palettes:
    (
      "palette-color-system-cyan-light",
      "palette-color-system-yellow-light",
      "palette-color-system-green-cool",
      "palette-color-system-red-warm"
    )
);
