/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
    sass root. Don't edit the version
    in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

.pdf-card {
  transition: transform 0.2s;
  @include u-shadow(2);
  &:hover {
    transform: scale(1.1) rotate(1deg);
    @include u-shadow(4);
  }
}

// Typography
// prevent orphaned words in short blocks of text
.text-balance,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
// no USWDS setting; can't pass `.measure-none` to Truss component
.usa-alert__text {
  max-width: none;
}

// Button
.usa-button {
  &,
  &:visited {
    background-color: color("mint-50");
    color: white;
    border-bottom: 5px solid color("mint-cool-40v");
  }

  &:hover,
  &.usa-button--hover {
    background-color: color("mint-60");
    border-bottom: 5px solid color("mint-cool-50v");
  }

  &:active,
  &.usa-button--active {
    background-color: color("mint-70");
    border-bottom: 5px solid color("mint-cool-50v");
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: color("gray-60");
    background-color: color("gray-20");
    border-bottom: 5px solid color("gray-10");
  }
}

// Button: Base
.usa-button--base {
  &,
  &:visited {
    background-color: color("gray-warm-50");
    color: white;
    border-bottom: 5px solid color("gray-warm-30");
  }

  &:hover,
  &.usa-button--hover {
    background-color: color("gray-warm-60");
    border-bottom: 5px solid color("gray-warm-40");
  }

  &:active,
  &.usa-button--active {
    background-color: color("gray-warm-70");
    border-bottom: 5px solid color("gray-warm-50");
  }
}

// Button: Secondary
.usa-button--secondary {
  &,
  &:visited {
    background-color: color("mint-5");
    color: color("mint-60");
    border-bottom: 5px solid color("mint-cool-40v");
  }

  &:hover,
  &.usa-button--hover {
    background-color: color("mint-10");
    color: color("mint-70");
    border-bottom: 5px solid color("mint-cool-50v");
  }

  &:active,
  &.usa-button--active {
    background-color: color("mint-20");
    color: color("mint-80");
    border-bottom: 5px solid color("mint-cool-60v");
  }
}

// Button: Accent Cool
.usa-button--accent-cool {
  &,
  &:visited {
    background-color: color("violet-30");
    color: color("violet-80");
    border-bottom: 5px solid color("violet-40");
  }

  &:hover,
  &.usa-button--hover {
    background-color: color("violet-20");
    color: color("violet-70");
    border-bottom: 5px solid color("violet-30");
  }

  &:active,
  &.usa-button--active {
    background-color: color("violet-10");
    color: color("violet-60");
    border-bottom: 5px solid color("violet-20");
  }
}

// Button: Accent Warm
.usa-button--accent-warm {
  &,
  &:visited {
    background-color: color("yellow-20v");
    color: color("gray-warm-80");
    border-bottom: 5px solid color("orange-30v");
  }

  &:hover,
  &.usa-button--hover {
    background-color: color("yellow-10v");
    border-bottom: 5px solid color("gold-20v");
  }

  &:active,
  &.usa-button--active {
    background-color: color("yellow-5v");
    border-bottom: 5px solid color("yellow-20v");
  }
}

// Button: Outline
.usa-button--outline {
  &,
  &:visited {
    background-color: color("transparent");
    box-shadow: inset 0 0 0 2px color("mint-50");
    color: color("mint-50");
    border-bottom: 5px solid color("mint-50");
  }

  &:hover,
  &.usa-button--hover {
    background-color: color("transparent");
    box-shadow: inset 0 0 0 2px color("mint-60");
    color: color("mint-60");
    border-bottom-color: color("mint-60");
  }

  &:active,
  &.usa-button--active {
    background-color: color("transparent");
    box-shadow: inset 0 0 0 2px color("mint-70");
    color: color("mint-70");
    border-bottom-color: color("mint-70");
  }

  &.usa-button--inverse {
    &,
    &:visited {
      box-shadow: inset 0 0 0 2px color("mint-10");
      color: color("mint-10");
      border-bottom-color: color("mint-10");
    }

    &:hover,
    &.usa-button--hover {
      box-shadow: inset 0 0 0 2px color("mint-5");
      color: color("mint-5");
      border-bottom-color: color("mint-5");
    }

    &:active,
    &.usa-button--active {
      box-shadow: inset 0 0 0 2px white;
      color: white;
      border-bottom-color: white;
    }
  }
}

// Button: Outline Disabled
.usa-button--outline:disabled,
.usa-button--outline[aria-disabled="true"],
.usa-button--outline-inverse:disabled,
.usa-button--outline-inverse[aria-disabled="true"] {
  &,
  &:hover,
  &:active,
  &:focus {
    background-color: color("transparent");
    box-shadow: inset 0 0 0 2px color("gray-20");
    color: color("gray-60");
    border-bottom: 5px solid color("gray-20");
  }
}

// Button: Unstyled
.usa-button--unstyled {
  @include button-unstyled;
  border-bottom: 0 !important;
}

// Button: Small
.usa-button--small {
  font-size: font-size($theme-button-font-family, "sm");
  padding: units(1) units(2);
}

.button-icon-large {
  transform: scale(2);
  margin: 0 units(0.5) 0 0;
}

.button-icon-md {
  transform: scale(1.75);
  margin: 0 units(0.5) 0 0;
}

.icon-active {
  color: color("orange-40v");
}

// There is no config for setting the current nav item border color
.usa-header--basic .usa-nav__primary-item > .usa-current::after {
  background-color: color("mint-40");
}

.bg-mint-70 {
  background-color: color("mint-70");
}

// Hero
.hero {
  .hero--container {
    position: relative;

    &::after {
      @include at-media("tablet-lg") {
        $size: 0.5;
        content: "";
        background: url("/img/grants-star-symbol.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        width: calc(832px * $size);
        height: calc(815px * $size);
        right: 0;
        bottom: 0;
        margin-right: calc(-78px * $size);
        margin-bottom: calc(-206px * $size);
        opacity: 50%;
        z-index: 0;
      }

      @include at-media("desktop-lg") {
        $size: 0.6;
        width: calc(832px * $size);
        height: calc(815px * $size);
        margin-right: calc(-78px * $size);
        margin-bottom: calc(-206px * $size);
      }
    }
  }

  .hero--text {
    @include at-media("tablet-lg") {
      max-width: 34rem;
    }
    @include at-media("desktop") {
      max-width: 42rem;
    }
  }
}

// Events

#main-content:has(div:last-child.bg-base-lightest) + footer.usa-footer {
  background-color: color($theme-color-base-lightest);
}

// Footer
.usa-footer__primary-section {
  background-color: color("mint-5");
  border-top: 6px solid color("mint-50");
  box-shadow: inset 0 6px 0 0 color("mint-20");
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include at-media("tablet") {
    padding-top: calc(1rem + 3vw);
    padding-bottom: calc(1rem + 3vw);
  }
}

.usa-footer__secondary-section {
  height: 0;
  padding: 0;
}

.footer-logo-container {
  max-width: 16rem;
  margin: 2rem 0;
}

.usa-social-link {
  &,
  &:visited {
    background-color: color("transparent");
    color: color("gray-warm-90");
  }

  &:hover {
    background-color: color("transparent");
    color: color("mint-70");
  }
}

.usa-footer__contact-heading {
  text-align: left;

  @include at-media("tablet") {
    text-align: right;
  }
}

.usa-footer__social-links,
.usa-footer__contact-info {
  justify-content: left;

  @include at-media("tablet") {
    justify-content: flex-end;
  }
}

.usa-identifier {
  padding-top: calc(1rem + 3vw);
  padding-bottom: calc(1rem + 3vw);
}

// truss adds usa-button classes and button elements in the pagination component
// overriding button styles for pagination
.usa-pagination__button,
button.usa-pagination__button {
  align-items: left;
  background-color: color("mint-5") !important;
  border-width: 0px;
  color: color("gray-warm-90");
  display: inline-flex;
  justify-content: center;
  text-decoration: none !important;
  padding: units(1);
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: color("mint-70");
  }
}

.usa-pagination button.usa-button.usa-current,
.usa-pagination .usa-button.usa-current {
  color: white;
  background-color: color("mint-40");

  &:hover,
  &:focus,
  &:active {
    background-color: color("mint-80");
    color: white;
  }
}

.usa-pagination .usa-current {
  background-color: color("mint-60") !important;
}

// we are implementing the uswds nav drop down at mobile widths, which is not ordinarily supported
// these styles are taken from the desktop imlementation of the dropdown and applied at all breakpoints
.usa-nav__primary {
  // Match the exact USWDS selector .usa-nav__primary button:hover
  // Use the same color as .usa-nav__primary a:not(.usa-button):not(.usa-current) (#76766a)
  @include at-media-max($theme-header-min-width) {
    button:hover,
    button:focus:hover,
    button:active:hover {
      color: #76766a;
      background-color: transparent;
    }
  }
  .mobile-nav-dropdown-uncollapsed-override {
    button[aria-expanded="true"]:hover {
      background-color: color("mint-40");
    }
    button[aria-expanded="true"] {
      background-color: color("mint-60");
      a {
        color: white;
      }
      a:hover {
        background-color: color("mint-40");
        color: white;
      }
      span:after {
        mask-image:
          url("/uswds/img/usa-icons/expand_less.svg"),
          linear-gradient(transparent, transparent);
        background-color: white;
      }
    }
    button[aria-expanded="false"] {
      span:after {
        mask-image:
          url("/uswds/img/usa-icons/expand_more.svg"),
          linear-gradient(transparent, transparent);
      }
    }
    button[aria-expanded] {
      span:after {
        right: 0.75rem;
      }
    }
    .usa-nav__submenu-item {
      background-color: color("mint-60");
      &:hover {
        background-color: color("mint-40");
      }
      a {
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        line-height: 1.4;
        display: block;
      }
    }
    @include at-media("desktop") {
      button:hover {
        background-color: white;
      }
      .usa-nav__submenu {
        right: 0;
      }
    }
  }
  .usa-accordion__button[aria-expanded="true"]::after {
    background-color: color("mint-60");
    border-radius: 0;
    content: "";
    display: block;
    position: absolute;
    height: 0.25rem;
    bottom: -0.25rem;
    left: 0;
    right: 0;
  }
  // Hide the ::after border on mobile
  @include at-media-max($theme-header-min-width) {
    .usa-accordion__button[aria-expanded="true"]::after {
      display: none;
    }
  }

  // Match padding of non-dropdown nav links (Home, Search, Sign In) to dropdown items on mobile (12px)
  @include at-media-max($theme-header-min-width) {
    .usa-nav__primary-item > .usa-nav__link {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }
}

// revert to behavior before upgrade https://github.com/uswds/uswds/commit/2785b67e58ae19f161101f4859afff0e9664fbda
.usa-header--basic {
  @include at-media($theme-header-min-width) {
    .usa-nav {
      padding: 0 0 units(0.5) units(1);
    }
  }
}

.icon-btn {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

// Tables
.usa-table {
  table-layout: fixed;

  &.overflow-wrap {
    overflow-wrap: break-word;
  }
  &.application-attachments-table {
    td {
      height: 65px;
    }
    .grants-spinner {
      float: left;
      margin-right: 0.5rem;
    }
    .highlight {
      td {
        background-color: color(gold-5v);
        line-height: 1rem;
      }
    }
  }
}

.table-layout-auto {
  table-layout: auto !important;
}

.verticle-align-bottom {
  vertical-align: bottom;
}

.verticle-align-top {
  vertical-align: top;
}

// Accordions
.usa-accordion__heading {
  border-bottom: 2px solid color(gray-warm-30);
}

// changes the modal into a drawer
#search-filter-drawer {
  text-align: right;
  .usa-modal-overlay {
    padding: 0;
    overflow: hidden;
  }
  .usa-modal__main {
    width: 100%;
    height: 100%;
    min-height: 0;
  }
  .usa-modal__content {
    height: 100%;
  }
  .usa-radio__input {
    width: 0;
  }
}

// make modal close "X" use normal style rather than simpler button styline
.usa-modal__close {
  background-color: color("transparent");
  border-bottom: none;
  color: color("gray-warm-90");

  &:hover {
    background-color: color("transparent");
    border-bottom: none;
    color: color("gray-60");
  }
}

// Definition Lists
dl {
  dt {
    display: inline;

    & ~ dd {
      display: inline;
      margin-left: 0;
    }
  }
}

.simpler-tooltip {
  .usa-tooltip__body {
    min-width: 12rem;
    font-size: font-size("body", "3xs");
  }
}

.simpler-responsive-table {
  min-width: 100%;
  thead {
    display: none;
    @include at-media("tablet-lg") {
      display: table-header-group;
    }
  }
  tr {
    display: flex;
    flex-direction: column;
    @include at-media("tablet-lg") {
      display: table-row;
    }
  }
  tbody {
    td {
      word-wrap: anywhere;
    }
    tr:nth-child(2n) {
      td {
        background-color: color(gray-warm-5);
        @include at-media("tablet-lg") {
          background-color: white;
        }
      }
    }
  }
}

.simpler-selected-filter {
  .usa-accordion__button {
    background-color: color($theme-color-secondary-lightest);
  }
}

// roadmap timeline
.roadmap-row {
  div:first-child:after {
    content: "";
    position: absolute;
    top: 1.2rem;
    left: 0;
    margin-left: calc(-0.5rem - 1px);
    height: 1rem;
    width: 1rem;
    background-color: color("base-darkest");
    border-radius: 100%;
    @include at-media("tablet") {
      left: 100%;
      margin-left: calc(-0.5rem + 1px);
    }
  }

  &:last-child div:last-child:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    height: 0.75rem;
    width: 0.75rem;
    border-left: 2px solid color("base-darkest");
    border-bottom: 2px solid color("base-darkest");
    transform: rotate(-45deg);
    transform-origin: left bottom;
  }
}

#opportunity-detail-content {
  p:first-child {
    margin-top: 1rem;
  }
  p:last-child {
    margin-bottom: 1rem;
  }
}

.simpler-currency-input-wrapper {
  position: relative;
  display: inline-block;
  &::after {
    content: "$";
    position: absolute;
    left: 10px;
    bottom: -0.5rem;
    transform: translateY(-50%);
  }

  input {
    padding-left: 25px;
    margin-top: 0 !important;
  }
}

.simpler-page-anchor-offset {
  @include at-media("desktop") {
    scroll-margin-top: 6rem;
  }
}

.simpler-apply-form {
  .usa-input,
  .usa-select,
  fieldset[id^="form-section"] {
    @include at-media("desktop") {
      scroll-margin-top: 6rem;
    }
  }
  aside {
    max-height: calc(100vh - 2rem);
  }
}

.simpler-application-forms-table {
  table-layout: auto;

  tr[id^="form"] {
    @include at-media("desktop") {
      scroll-margin-top: 6rem;
    }
  }
}

// SF 424 A Budget Form

.sf424__table {
  .usa-error-message {
    display: none !important;
  }

  .usa-form-group {
    border-left: 0;
    margin-left: 0;
    padding: 0;
  }
}

.sf424a__row {
  height: fit-content;
  .sf424a__cell {
    height: inherit;
    vertical-align: bottom;

    &--row-headers {
      span {
        margin-top: auto;
        padding-bottom: 0.5rem;
      }
    }
  }
}

#user-control {
  .usa-button {
    font-size: 0.88rem;
  }
  .usa-nav__submenu-item {
    border-top: 0;
  }
}

.usa-select:disabled {
  color: #76766a;
  background-color: white;
  border-color: #e6e6e2;
  background-image: none; // Removes the dropdown arrow icon

  &:hover,
  &:active,
  &:focus {
    color: #76766a;
    background-color: white;
    border-color: #e6e6e2;
    background-image: none;
  }
}
