/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
    sass root. Don't edit the version
    in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

.pdf-card {
  transition: transform 0.2s;
  @include u-shadow(2);
  &:hover {
    transform: scale(1.1) rotate(1deg);
    @include u-shadow(4);
  }
}
