@use "uswds-core" as *;

// styles for search feature

@mixin border-style {
  outline: 1px blue solid;
}
aside,
fieldset,
main {
  @include border-style();
}

.search-bar {
  display: flex; 
  justify-content: center;
  align-items: center;

  #search-input-text {

    width: 100%;
  }

  .search-submit-button {
    // flex: none; // Ensures button size is based on its content
    // align-items: center;
  }
}

.search-pagination {
  align-items: center;
  justify-content: center;
}

#search-results-list {
  align-items: center;
  justify-content: center;
}

// .grid-container {
//   @include border-style;

//   .grid-row {
//     @include border-style;

//     .grid-col {
//       @include border-style;
//     }
//   }
// }
