@use "uswds-core" as *;

// styles for search feature

@mixin border-style {
  outline: 1px blue solid;
}
aside,
fieldset,
main {
  @include border-style();
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  #search-input-text {
    width: 100%;
  }

  .search-submit-button {
  }
}

#search-results-header {
  justify-content: space-between;
  align-items: center;
}

.search-pagination {
  align-items: center;
  justify-content: center;
}

#search-results-list {
  position: relative;
  text-align: center;
  ul {
    list-style-position: inside;
  }
}

.checkbox-quadrant {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; // adjust the space between checkboxes
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

// .grid-container {
//   @include border-style;

//   .grid-row {
//     @include border-style;

//     .grid-col {
//       @include border-style;
//     }
//   }
// }
