<html lang="en">
  <head>
    <title>Hello, world</title>
  </head>
  <body>
    <main>
      <h1>Hello, world</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/health">Health</a></li>
        <li><a href="/migrations">Migrations</a></li>
        <li><a href="/document-upload">Document Upload</a></li>
        <li><a href="/email-notifications">Email Notifications</a></li>
        <li><a href="/feature-flags">Feature flags</a></li>
        <li><a href="/secrets">Secrets</a></li>
      </ul>
    </main>
  </body>
</html>  
