# Python compiled/optimized files
__pycache__/
*.py[cod]
*$py.class

# Python packaging stuff
dist/
*.egg-info

# Python testing stuff
.coverage*
coverage.*
.testmondata
.pytest_cache/
/tests/validate_legacy_soap_api/cache/*
!/tests/validate_legacy_soap_api/cache/__init__.py

# Python virtual environments
.venv

# Environment variables
.env
.envrc
override.env
soap-api.env

# mypy
.mypy_cache

# VSCode Workspace
*.code-workspace
.vscode

#e2e
/test-results/

# localstack
/volume

# All pem/pub/secret keys
*.key
*.pub
*.pem
e2e_token.tmp
