name: Deploy nofos
# Need to set a default value for when the workflow is triggered from a git push
# which bypasses the default configuration for inputs
run-name: Deploy ${{ inputs.version || 'main' }} to nofos ${{ inputs.environment || 'dev' }}

on:
  # !! Uncomment the following lines once you've set up the dev environment and ready to turn on continuous deployment
  # push:
  #   branches:
  #     - "main"
  #   paths:
  #     - "nofos/**"
  #     - "bin/**"
  #     - "infra/**"
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy to
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - staging
          - prod
      version:
        required: true
        default: "main"
        description: Tag or branch or SHA to deploy

jobs:
  deploy:
    name: Deploy
    uses: ./.github/workflows/deploy.yml
    with:
      app_name: nofos
      environment: ${{ inputs.environment || 'dev' }}
      version: ${{ inputs.version || 'main' }}
