name: NOFOs Checks

on:
  pull_request:
    paths:
      - .github/workflows/ci-nofos.yml
  workflow_call:
    inputs:
      version:
        description: "Version to run tests against"
        default: "main"
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: "Version to run tests against"
        default: "main"
        type: string

jobs:
  lint-test:
    name: NOFOs Lint, Format & Tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          repository: HHS/simpler-grants-pdf-builder
          ref: ${{ inputs.version || 'main' }}

      - name: Build docker image
        run: make build

      - name: Run tests
        run: make test USE_DOCKER=1

      - name: Save commit hash to cache
        run: echo $(git rev-parse HEAD) > /tmp/commit-hash.txt

      - name: Save built image to cache
        run: docker save nofos:$(git rev-parse HEAD) > /tmp/docker-image.tar

      - name: Cache Docker image
        uses: actions/cache/save@v4
        with:
          path: /tmp/docker-image.tar
          key: nofos-${{ github.sha }}
