name: NOFOs Checks

on:
  pull_request:
    paths:
      - .github/workflows/ci-nofos.yml
  workflow_call:
    inputs:
      version:
        description: "Version to run tests against"
        default: "main"
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: "Version to run tests against"
        default: "main"
        type: string

jobs:
  lint-test:
    name: NOFOs Lint, Format & Tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          repository: HHS/simpler-grants-pdf-builder
          ref: ${{ inputs.version || 'main' }}

      - name: Build docker image
        run: make build

      - name: Save commit hash to file
        run: git rev-parse HEAD > /tmp/commit-hash.txt

      - name: Save built image to file
        run: docker save nofos:latest > /tmp/docker-image.tar

      - name: Cache commit hash
        uses: actions/cache/save@v4
        with:
          path: /tmp/commit-hash.txt
          key: nofos-commit-${{ github.sha }}-${{ github.run_id }}

      - name: Cache Docker image
        uses: actions/cache/save@v4
        with:
          path: /tmp/docker-image.tar
          key: nofos-image-${{ github.sha }}-${{ github.run_id }}
