name: NOFOs Checks

on:
  pull_request:
    paths:
      - .github/workflows/ci-nofos.yml
  workflow_call:
    inputs:
      version:
        description: "Version to run tests against"
        default: "main"
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: "Version to run tests against"
        default: "main"
        type: string

jobs:
  lint-test:
    name: Nofos Lint, Format & Tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          repository: HHS/simpler-grants-pdf-builder
          ref: ${{ inputs.version }}

      - run: make test
