name: CI Project linters

on:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/linters/**
      - .github/workflows/ci-project-linters.yml

defaults:
  run:
    working-directory: ./.github/linters # ensures that this job runs from the ./linters sub-directory

jobs:
  dry-run-project-linters:
    name: Dry run GitHub project linters
    runs-on: ubuntu-22.04
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN_PROJECT_ACCESS }}
      # Test issue with points and sprint values unset
      # to be used with set-points-and-sprint.sh test to demonstrate update
      UNSET_ISSUE: "https://github.com/HHS/simpler-grants-gov/issues/1932"
      # Test issue with points and sprint values unset, but no linked PR,
      # to be used with set-points-and-sprint.sh test to demonstrate skipping
      ISSUE_WITHOUT_PR: "https://github.com/HHS/grants-product-and-delivery/issues/261"
    steps:
      - uses: actions/checkout@v4

      - name: Dry run - Set points and sprint field (update metadata)
        run: |
          ./scripts/set-points-and-sprint.sh \
            --url "${UNSET_ISSUE}" \
            --org "HHS" \
            --project 13 \
            --sprint-field "Sprint" \
            --points-field "Story Points" \
            --dry-run

      - name: Dry run - Set points and sprint field (skip issue because no PR)
        run: |
          ./scripts/set-points-and-sprint.sh \
            --url "${ISSUE_WITHOUT_PR}" \
            --org "HHS" \
            --project 17 \
            --sprint-field "Sprint" \
            --points-field "Points" \
            --dry-run
