name: Create Merged Test Report
on:
  workflow_call:
    inputs:
      run_id:
        description: "github actions id for run to grab artifacts from"
        type: string
      artifact-ids:
        description: "comma separated string of test report artifact ids to download"
        type: string

env:
  NODE_VERSION: 24
  LOCKFILE_PATH: ./frontend/package-lock.json
  PACKAGE_MANAGER: npm
  NODE_OPTIONS: --dns-result-order=ipv4first

defaults:
  run:
    working-directory: ./frontend

jobs:
  e2e-create-report:
    continue-on-error: true
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.PACKAGE_MANAGER }}
          cache-dependency-path: ${{ env.LOCKFILE_PATH }}

      - name: Install Playwright Dependencies
        run: |
          npm ci
          npx playwright install --with-deps

      - name: Download All Blob Reports
        uses: actions/download-artifact@v7
        with:
          path: frontend/all-blob-reports
          # artifact-ids: ${{ inputs.artifact-ids }}
          run-id: ${{ inputs.run_id }}
          pattern: blob-report-shard-*
          merge-multiple: true

      - name: Verify Downloaded Artifacts
        run: |
          echo "Contents of all-blob-reports after download:"
          ls -R all-blob-reports*

      - name: Merge Blob Reports into HTML
        run: npx playwright merge-reports --reporter html ./all-blob-reports

      - name: Verify Downloaded Artifacts
        run: |
          echo "Contents of all-blob-reports after download:"
          ls -R playwright*

      - name: Upload Merged HTML Report
        uses: actions/upload-artifact@v6
        with:
          name: merged-html-report
          path: frontend/playwright-report
          retention-days: 30
