name: Test Error Notifications
run-name: Deploy ${{ inputs.version || 'main' }} to Analytics ${{ inputs.environment || 'nonprod' }}

on:
  push:
    branches:
      - "mdragon/8032-improve-action-slack-notifications"

  # Release deployments are handled by cd-release.yml to enforce deployment order
  # (API -> Frontend -> NOFOs -> Analytics)
  workflow_dispatch:
    inputs:
      version:
        required: true
        default: "main"
        description: Tag or branch or SHA to deploy

jobs:
  force-failure-job:
    runs-on: ubuntu-22.04
    name: Force Failure Job

    steps:
      - name: Force Failure Step
        run: |
          exit 1

  send-slack-notification:
    if: failure()
    needs: [force-failure-job]
    uses: ./.github/workflows/send-slack-notification.yml
    secrets: inherit
